@import './variable';
@import './mixin';

@tab-h: 46px;
@header-h: 44px;

html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  .view {
    flex: 1 0 0;
    overflow: hidden;
  }
}
.pd-bottom-60 {
  padding-bottom: 60px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: @tab-h;
  
  &-item {
    flex: 1 0 0;
    text-align: center;
    font-size: @fs-x;
    color: @cl-text-l;
    
    .tab-label {
      padding-bottom: 5px;
    }

    &--active {
      color: @cl-primary;

      .tab-label {
        border-bottom: 2px solid @cl-primary;
      }
    }
  }
}

.m-header {
  width: 100%;
  height: @header-h;
  text-align: center;
  color: @cl-primary;
  font-size: 0;
  background-color: #fff;
  .icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    width: 30px;
    height: 32px;
    margin-right: 9px;
    .bg-image('~assets/image/logo');
    background-size: 30px 32px;
  }
  .text {
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    font-size: @fs-x;
  }
  .mine {
    position: absolute;
    top: 0;
    right: 0;

    .icon-mine {
      display: block;
      padding: 12px;
      font-size: 20px;
      color: @cl-primary;
    }
  }
}

// 推荐页面
.recommend.view {
  overflow-x: hidden;
  overflow-y: scroll;

  .banner-thumb {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }

  .show-module {
    padding-left: @pd-base;
    padding-right: @pd-base;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: @pd-base 0;

      .title {
        color: #000;
        font-size: @fs-xl;
        font-weight: bold;
      }

      .more {
        display: block;
        padding: 6px 12px;
        font-size: @fs-base;
        color: @cl-text-ll;
        border: 1px solid @cl-gray-ll;
        border-radius: 999px;
      }
    }

    &-cell {
      .thumbnail {
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
        }
      }

      .name {
        font-size: @fs-base;
        color: @cl-text;
        .line-clamp(2);
        margin-top: 8px;
      }

      .num {
        display: block;
        // margin-top: 4px;
        color: @cl-assist;
      }
    }
  }
}

.playlist {
  height: 100%;
}

.singer {
  @anchor-h: 34px;
  &-main {
    height: 100%;
    overflow: scroll;
    background-color: #f2f2f2;
    padding-top: @anchor-h;
    
    .singer-list {
      
      .anchor {
        padding-left: 15px;
        line-height: @anchor-h;
        font-size: @fs-x;
        color: @cl-assist;

        &--fixed {
          position: fixed;
          top: @tab-h + @header-h;
          left: 0;
          width: 100%;
          background-color: #f2f2f2;
        }
      }
      
      .list {
        background-color: #fff;
        border-radius: 18px;
        overflow: hidden;

        &-cell {
          padding: 10px 20px;
          display: flex;
          align-items: center;
          border-top: 1px solid #f2f2f2;
          
          &:active {
            background-color: #f8f8f8;
          }
          
          &:first-child {
            border-top: none;
            margin-top: 0;
          }
    
          .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            flex: none;
    
            & > img {
              width: 100%;
              display: block;
            }
          }
    
          .name {
            flex: 1 0 0;
            margin-left: 20px;
            font-size: @fs-x;
            line-height: 50px;
          }
        }
      }
    }
  }

  .index-bar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .index-list {

      &-item {
        color: #aaa;
        text-align: center;
        font-size: @fs-x;
        line-height: 1.4em;

        &--active {
          color: @cl-primary;
        }
      }
    }
  }
}

.singer-detail {
  height: 100%;
}

.rank {
  &-content {
    padding: 0 20px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .rank-list {
      
      &-item {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        &:first-child {
          margin-top: 0;
        }

        .rank-image {
          flex: none;
          width: 100px;
          height: 100px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          &-info {
            position: absolute;
            left: 10px;
            bottom: 10px;
            color: #fff;
          }
        }

        .rank-item-list {
          flex: 1 0 0;
          overflow: hidden;
          margin-left: 10px;
          
          .list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100px;
            color: @cl-text-ll;
          }
        }
      }
    }
  }
}

.page-search {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  &-head {
    flex: none;
  }

  &-main {
    margin-top: 20px;
    flex: 1 0 0;
    overflow-y: auto;
  }

  .search-input {
    @input-pd: 10px;
    position: relative;
    display: flex;
    align-items: center;

    &-back {
      flex: none;
      font-size: 20px;
    }
    
    .input-box {
      flex: 1 0 0;
      position: relative;
      width: 100%;
      height: 40px;
      margin-left: 10px;
      border-bottom: 1px solid @cl-gray-ll;

      .input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 @input-pd + 26;

        &::placeholder {
          color: @cl-assist-ll;
        }
      }

      .input-icon {
        font-size: 22px;
        color: @cl-assist-l;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .icon-search {
        left: @input-pd;
      }
      .icon-dismiss {
        right: @input-pd;
      }
    }

    .search-suggest {
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 9px #aaa;
      &-head {
        padding: 0 10px;
        line-height: 44px;
        color: @cl-text-ll;
      }

      .suggest-list {
        &-item {
          padding: 0 10px;
          line-height: 44px;
          color: @cl-assist;
          border-top: 1px solid #f2f2f2;
        }
      }
    }
  }
}
